openapi: 3.1.0
info:
  title: CircleCI REST API v1 Artifact API
  description: The CircleCI REST API v1 is the legacy API that provides access to build information, project details, and user data. While still available, CircleCI recommends migrating to the v2 API for newer features and improved functionality. The v1 API supports operations for retrieving build details, triggering builds, managing SSH keys, and accessing test metadata. Authentication is handled through API tokens passed as query parameters or HTTP headers.
  version: '1.1'
  contact:
    name: CircleCI Support
    url: https://support.circleci.com
  termsOfService: https://circleci.com/terms-of-service/
servers:
- url: https://circleci.com/api/v1.1
  description: CircleCI Production API v1.1
security:
- apiToken: []
tags:
- name: Artifact
  description: Endpoints for listing and downloading build artifacts.
paths:
  /project/{vcs-type}/{username}/{project}/{build_num}/artifacts:
    get:
      operationId: listBuildArtifacts
      summary: List artifacts for a build
      description: Returns a list of artifacts produced by the specified build.
      tags:
      - Artifact
      parameters:
      - $ref: '#/components/parameters/VcsTypeParam'
      - $ref: '#/components/parameters/UsernameParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/BuildNumParam'
      responses:
        '200':
          description: Successfully retrieved artifacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Artifact'
        '401':
          description: Unauthorized
  /project/{vcs-type}/{username}/{project}/latest/artifacts:
    get:
      operationId: listLatestArtifacts
      summary: List latest build artifacts
      description: Returns artifacts from the latest build of the project, optionally filtered by branch.
      tags:
      - Artifact
      parameters:
      - $ref: '#/components/parameters/VcsTypeParam'
      - $ref: '#/components/parameters/UsernameParam'
      - $ref: '#/components/parameters/ProjectParam'
      - name: branch
        in: query
        description: Filter artifacts by branch name
        schema:
          type: string
      - name: filter
        in: query
        description: Filter artifacts by status
        schema:
          type: string
          enum:
          - completed
          - successful
          - failed
      responses:
        '200':
          description: Successfully retrieved latest artifacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Artifact'
        '401':
          description: Unauthorized
components:
  schemas:
    Artifact:
      type: object
      properties:
        path:
          type: string
          description: The artifact path
        pretty_path:
          type: string
          description: Human-readable artifact path
        node_index:
          type: integer
          description: The node index that produced this artifact
        url:
          type: string
          format: uri
          description: URL to download the artifact
  parameters:
    BuildNumParam:
      name: build_num
      in: path
      required: true
      description: The build number
      schema:
        type: integer
    ProjectParam:
      name: project
      in: path
      required: true
      description: The repository name
      schema:
        type: string
    VcsTypeParam:
      name: vcs-type
      in: path
      required: true
      description: The version control system type
      schema:
        type: string
        enum:
        - github
        - bitbucket
    UsernameParam:
      name: username
      in: path
      required: true
      description: The organization or user name
      schema:
        type: string
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: Circle-Token
      description: Personal API token for authenticating with the CircleCI API. Can also be passed as a query parameter.
externalDocs:
  description: CircleCI API v1 Reference
  url: https://circleci.com/docs/api/v1/
