openapi: 3.1.0
info:
  title: CircleCI REST API v1 Artifact User API
  description: The CircleCI REST API v1 is the legacy API that provides access to build information, project details, and user data. While still available, CircleCI recommends migrating to the v2 API for newer features and improved functionality. The v1 API supports operations for retrieving build details, triggering builds, managing SSH keys, and accessing test metadata. Authentication is handled through API tokens passed as query parameters or HTTP headers.
  version: '1.1'
  contact:
    name: CircleCI Support
    url: https://support.circleci.com
  termsOfService: https://circleci.com/terms-of-service/
servers:
- url: https://circleci.com/api/v1.1
  description: CircleCI Production API v1.1
security:
- apiToken: []
tags:
- name: User
  description: Endpoints for retrieving information about the authenticated user.
paths:
  /me:
    get:
      operationId: getCurrentUser
      summary: Get authenticated user
      description: Returns information about the currently authenticated user, including name, login, and avatar URL.
      tags:
      - User
      responses:
        '200':
          description: Successfully retrieved user information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
  /me/collaborations:
    get:
      operationId: getCollaborations
      summary: List collaborations
      description: Returns a list of organizations and accounts the current user collaborates with.
      tags:
      - User
      responses:
        '200':
          description: Successfully retrieved collaborations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Collaboration'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Collaboration:
      type: object
      properties:
        vcs-type:
          type: string
          description: The VCS provider type
        name:
          type: string
          description: The name of the organization
        avatar_url:
          type: string
          format: uri
          description: The URL of the organization avatar
        slug:
          type: string
          description: The organization slug
        id:
          type: string
          format: uuid
          description: The unique identifier of the organization
    User:
      type: object
      properties:
        login:
          type: string
          description: The login name of the user
        name:
          type: string
          description: The display name of the user
        avatar_url:
          type: string
          format: uri
          description: URL of the user avatar
        admin:
          type: boolean
          description: Whether the user is an admin
        all_emails:
          type: array
          items:
            type: string
            format: email
          description: All email addresses associated with the user
        selected_email:
          type: string
          format: email
          description: The user selected email address
        days_left_in_trial:
          type: integer
          description: Days remaining in trial
        parallelism:
          type: integer
          description: Default parallelism setting
        created_at:
          type: string
          format: date-time
          description: When the user account was created
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: A human-readable error message
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: Circle-Token
      description: Personal API token for authenticating with the CircleCI API. Can also be passed as a query parameter.
externalDocs:
  description: CircleCI API v1 Reference
  url: https://circleci.com/docs/api/v1/
